In [41]:
#task 1
import pandas as pd
import string

def length_stats(text):
    text = text.lower()
    text = ''.join([char for char in text if char not in string.punctuation and not char.isdigit()])
    words = text.split()
    lengths = pd.Series({word: len(word) for word in words})
    lengths = lengths.sort_index()

    return lengths
print(length_stats("Лес, опушка, странный домик. Лес, опушка и зверушка."))

домик       5
зверушка    8
и           1
лес         3
опушка      6
странный    8
dtype: int64

In [43]:
#task 2
import pandas as pd

def cheque(price_list, **kwargs):
    products = []
    prices = []
    numbers = []
    costs = []
    for product, number in kwargs.items():
        if product in price_list:
            price = price_list[product]
            cost = price * number
            products.append(product)
            prices.append(price)
            numbers.append(number)
            costs.append(cost)
    data = {'product': products, 'price': prices, 'number': numbers, 'cost': costs}
    df = pd.DataFrame(data)
    df = df.sort_values(by='product').reset_index(drop=True)
    return df

products = ['bread', 'milk', 'soda', 'cream']
prices = [37, 58, 99, 72]
price_list = pd.Series(prices, products)
result = cheque(price_list, soda=3, milk=2, cream=1)
print(result)

  product  price  number  cost
0   cream     72       1    72
1    milk     58       2   116
2    soda     99       3   297

In [45]:
#task 3

def discount(cheque_df):
    discounted_cheque = cheque_df.copy()
    for index, row in discounted_cheque.iterrows():
        if row['number'] > 2:
            discounted_cheque.at[index, 'price'] = row['price'] * 0.5
            discounted_cheque.at[index, 'cost'] = discounted_cheque.at[index, 'price'] * row['number']
    return discounted_cheque
with_discount = discount(result)

print(result)
print(with_discount)

  product  price  number  cost
0   cream     72       1    72
1    milk     58       2   116
2    soda     99       3   297
  product  price  number   cost
0   cream   72.0       1   72.0
1    milk   58.0       2  116.0
2    soda   49.5       3  148.5

<ipython-input-45-45ac8d8af283>:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '49.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  discounted_cheque.at[index, 'price'] = row['price'] * 0.5
<ipython-input-45-45ac8d8af283>:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '148.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  discounted_cheque.at[index, 'cost'] = discounted_cheque.at[index, 'price'] * row['number']

In [53]:
#task 4
import pandas as pd

def best(df):
    best_students = df[(df['maths'] >= 5) & (df['physics'] >= 5) & (df['computer science'] >= 5)]
    good_students = df[(df['maths'] >= 4) & (df['physics'] >= 4) & (df['computer science'] >= 4)]
    return best_students, good_students

columns = ['name', 'maths', 'physics', 'computer science']
data = {
    'name': ['Иванов', 'Петров', 'Сидоров', 'Васечкин', 'Николаев'],
    'maths': [5, 4, 5, 2, 4],
    'physics': [4, 4, 4, 5, 5],
    'computer science': [5, 2, 5, 4, 3]
}
journal = pd.DataFrame(data, columns=columns)
best_students, good_students = best(journal)
filtered = best(journal)
print(journal)
print(filtered)

       name  maths  physics  computer science
0    Иванов      5        4                 5
1    Петров      4        4                 2
2   Сидоров      5        4                 5
3  Васечкин      2        5                 4
4  Николаев      4        5                 3
(Empty DataFrame
Columns: [name, maths, physics, computer science]
Index: [],       name  maths  physics  computer science
0   Иванов      5        4                 5
2  Сидоров      5        4                 5)